<template>
  <div class="is-fluid">
    <section class="hero is-large is-fullheight">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-1">
            coming soon
          </h1>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: 'ComingSoon',
  methods: {},
};
</script>
