<template>
  <div class="is-fluid">
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          Sailr. All Rights Reserved.
        </p>
      </div>
    </footer>
  </div>
</template>

<script>
export default {
  name: 'Footer',
};
</script>
