<template>
  <div class="is-fluid">
    <section class="hero is-large is-fullheight">
      <div class="hero-body has-bg-img">
        <div class="container">
          <h1 class="title l">
            Production-Grade<br>
            container deployments<br>
            for everyone.
          </h1>
          <h2 class="subtitle">
            Build, deploy, and monitor your software projects<br>
            without the headache of studying the complexity of<br>
            container deployment architectures.
          </h2>
          <nuxt-link
            class="button is-primary"
            to="/blog"
            disabled
          >
            Try Sailr for Free
          </nuxt-link>
          <nuxt-link
            class="button is-primary is-outlined"
            to="/blog"
            disabled
          >
            Coming Soon
          </nuxt-link>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: 'Main',
  methods: {},
};
</script>

<style scoped>
.has-bg-img {
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
), url('../assets/automation4.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
  /* background: linear-gradient(
  rgba(0, 0, 0, 0.7),
  rgba(0, 0, 0, 0.7)
), url('../assets/automation3.jpg');
  /* background: url('../assets/automation2.png'); */
  /* background-position: right;
  background-size: 80%;
  background-repeat: no-repeat; */
}
</style>
