<template>
  <nav
    class="navbar titlebar is-fixed-top is-white has-shadow"
    role="navigation"
    aria-label="main dropdown navigation"
  >
    <div class="navbar-brand">
      <a
        class="navbar-item"
        href="/"
      >
        <img
          src="../assets/navbar-logo-dark.svg"
          alt="sailr"
          width="170"
        >
      </a>
      <div
        class="navbar-burger"
        :class="{ 'is-active': showNav }"
        @click="showNav = !showNav"
      >
        <span />
        <span />
        <span />
      </div>
    </div>
    <div
      class="navbar-menu"
      :class="{ 'is-active': showNav }"
    >
      <div class="navbar-end">
        <div class="navbar-item">
          <n-link
            class="navbar-item"
            to="/features"
          >
            Features
          </n-link>
          <!-- <n-link
            class="navbar-item"
            to="/pricing"
          >
            Pricing
          </n-link> -->
          <div class="navbar-item is-hoverable has-dropdown">
            <a class="navbar-item is-arrowless">
              Resources
              <span class="icon">
                <i class="fas fa-angle-down" />
              </span>
            </a>
            <div class="navbar-dropdown is-boxed">
              <n-link
                class="navbar-item"
                to="/blog"
              >
                Blog
              </n-link>
              <n-link
                class="navbar-item"
                to="/docs"
              >
                API Documentation
              </n-link>
              <a
                class="navbar-item"
                href="https://gitlab.com/sailr"
              >
                Open Source
              </a>
            </div>
          </div>
          <div class="navbar-item is-hoverable has-dropdown">
            <a class="navbar-item is-arrowless">
              Support
              <span class="icon">
                <i class="fas fa-angle-down" />
              </span>
            </a>
            <div class="navbar-dropdown is-boxed">
              <a
                class="navbar-item"
                href="https://gitlab.com/sailr/helpdesk/issues"
              >
                Help
              </a>
              <n-link
                class="navbar-item"
                to="/status"
                disabled
              >
                Status
              </n-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'Navbar',
  data() {
    return {
      showNav: false,
    };
  },
};
</script>
