<template>
  <div class="container is-fluid is-fullheight">
    <br>
    <h2 class="title has-text-centered">
      Try sailr Premium risk-free for 14 days
    </h2>
    <p class="has-text-centered">
      No credit card required.
    </p>
    <br>
    <br>
    <div class="pricing-table">
      <div class="pricing-plan is-primary">
        <div class="plan-header">
          Free
        </div>
        <p class="has-text-centered">
          For people that do things with the stuff.
        </p>
        <div class="plan-price">
          <span class="plan-price-amount">
            <span class="plan-price-currency">
              $
            </span>0
          </span>per month (billed annually)
        </div>
        <div class="plan-items">
          <div class="plan-item">
            2,000 pubic worker minutes
          </div>
          <div class="plan-item">
            100 Domains
          </div>
          <div class="plan-item">
            -
          </div>
          <div class="plan-item">
            -
          </div>
        </div>
        <div class="plan-footer">
          <a>
            Compare Features
          </a>
          <button class="button is-fullwidth">
            Download Now
          </button>
        </div>
      </div>

      <div class="pricing-plan is-active">
        <div class="plan-header">
          Premium
        </div>
        <p class="has-text-centered">
          For people that do more professional things<br> with their stuff.
        </p>
        <div class="plan-price">
          <span class="plan-price-amount">
            <span class="plan-price-currency">
              $
            </span>6
          </span>per month (billed annually)
        </div>
        <div class="plan-items">
          <div class="plan-item">
            <strong>All features from Starter and: </strong>
          </div>
          <div class="plan-item">
            4,000 public worker minutes
          </div>
          <div class="plan-item">
            1TB Bandwidth
          </div>
          <div class="plan-item">
            -
          </div>
        </div>
        <div class="plan-footer">
          <a>
            Compare Features
          </a>
          <button class="button is-fullwidth">
            Choose
          </button>
        </div>
      </div>
      <div class="pricing-plan is-primary">
        <div class="plan-header">
          Business
        </div>
        <p class="has-text-centered">
          For people that do fancy schmancy <br>enterprise things with the stuff.
        </p>
        <div class="plan-price">
          <span class="plan-price-amount">
            <span class="plan-price-currency">
              $
            </span>18
          </span>per month (billed annually)
        </div>
        <div class="plan-items">
          <div class="plan-item">
            <strong>All features from Business and: </strong>
          </div>
          <div class="plan-item">
            100 Domains
          </div>
          <div class="plan-item">
            1TB Bandwidth
          </div>
          <div class="plan-item">
            1000 Email Boxes
          </div>
        </div>
        <div class="plan-footer">
          <a>
            Compare Features
          </a>
          <button class="button is-fullwidth">
            Choose
          </button>
        </div>
      </div>
    </div>
    <br>
    <br>
  </div>
</template>
