<template>
  <Nuxt />
</template>
<style lang="scss">
// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #6C43E7;
$dark: #2B2C59;
$danger: #FF595E;
$light: #F0EFF1;
$light-invert: findColorInvert($light);
$primary-invert: findColorInvert($primary);
$info: #F37622;
$twitter: #009DA6;
$twitter-invert: findColorInvert($twitter);
$control-border-width: .125em;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert),
    "twitter": ($twitter, $twitter-invert),
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "bulma-pricingtable/dist/css/bulma-pricingtable.sass";
</style>
