<template>
  <section>
    <Navbar />
    <section class="hero is-primary">
      <div
        class="hero-body columns"
        :style="heroClass"
      >
        <div class="column is-three-fifths is-offset-one-fifth">
          <h1 class="title is-1">
            {{ title }}
          </h1>
          <p class="post-meta has-text-weight-bold">
            {{ date }}
          </p>
          <a
            v-if="authorlink"
            class="has-text-white"
            :href="authorlink"
          >{{ author }}</a>
          <a
            v-else
            class="has-text-white"
          >{{ author }}</a>
          <div
            v-if="summary"
            class="title is-5"
          >
            <br>
            {{ summary }}
          </div>
        </div>
      </div>
    </section>
    <section class="columns">
      <div class="column is-three-fifths is-offset-one-fifth">
        <div class="has-some-space">
          <a
            href="/blog"
          > ← Back to Blog </a>
        </div>
        <!-- eslint-disable vue/no-v-html -->
        <div
          class="content"
          v-html="html"
        />
        <!-- eslint-enable vue/no-v-html -->
      </div>
    </section>
  </section>
</template>

<script>
import Prism from 'prismjs';
import Navbar from '../../components/Navbar.vue';

export default {
  components: {
    Navbar,
  },
  head() {
    return {
      title: `${this.title} | <Blog Name>`,
    };
  },
  computed: {
    heroClass() {
      return this.photo ? {
        background: `linear-gradient(to bottom, transparent, rgba(0,0,0,0.8)), url(${this.photo}) center / 100% no-repeat`,
      } : {};
    },
  },
  async asyncData({ params }) {
    const post = await import(`../../content/blog/${params.slug}.md`);
    const attr = post.attributes;
    const { slug } = params;

    const {
      author,
      authorlink,
      date,
      summary,
      thumbnail,
      title,
      type,
      update,
      photo,
    } = attr;

    return {
      title,
      author,
      authorlink,
      date,
      update,
      type,
      thumbnail,
      summary,
      slug,
      photo,
      html: post.html,
    };
  },
  mounted() {
    Prism.highlightAll();
  },
};
</script>

<style>
@import "prismjs/themes/prism.css";
.has-some-space {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
</style>
