<template>
  <section>
    <Navbar />
    <section class="has-background-light">
      <!-- <div>
        <p>All Posts</p>
        <hr>
      </div> -->
      <div class="column is-4 is-offset-4">
        <div
          v-for="(blog, index) in blogList"
          :key="index"
          class="card is-rounded is-spaced"
          :index="index"
          :article-info="blog"
        >
          <div class="card-image">
            <a
              :href="blogPath(blog.link)"
              class="hero is-primary has-rounded-top"
              :style="heroBackground(blog.attributes.photo)"
            >
              <div class="hero-body">
                <div class="container">
                  <h1 class="title has-text-centered">
                    {{ blog.attributes.title }}
                  </h1>
                </div>
              </div>
            </a>
          </div>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <a
                  v-if="blog.attributes.authorlink"
                  class="title is-5"
                  :href="blog.attributes.authorlink"
                >{{ blog.attributes.author }}</a>
                <a
                  v-else
                  class="title is-5"
                >{{ blog.attributes.author }}</a>
                <time class="is-rtl">{{ blog.attributes.date }}</time>
              </div>
            </div>
            <div
              v-if="blog.attributes.summary"
              class="content"
            >
              {{ blog.attributes.summary }}
            </div>
            <br>
            <a
              class="button is-primary is-outlined"
              :href="blogPath(blog.link)"
            >
              Read More
            </a>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>

<script>
import Navbar from '../../components/Navbar.vue';
import blogs from '../../content/blogs.json';

export default {
  components: {
    Navbar,
  },
  // eslint-disable-next-line no-unused-vars
  async asyncData({ app }) {
    async function awaitImport(blog) {
      const wholeMD = await import(`~/content/blog/${blog.slug}.md`);
      return {
        attributes: wholeMD.attributes,
        link: blog.slug,
      };
    }
    const blogList = await Promise.all(
      blogs.map((blog) => awaitImport(blog)),
    ).then((res) => ({
      blogList: res,
    }));
    return blogList;
  },
  methods: {
    heroBackground(img) {
      return {
        background: `linear-gradient(to bottom, transparent, rgba(0,0,0,0.8)), url(${img}) center / 100% no-repeat`,
      };
    },
    blogPath(link) {
      return `/blog/${link}`;
    },
  },
};

</script>

<style lang="scss" scoped>
.is-rounded {
  border-radius: 3px;
}
.has-rounded-top {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.is-rtl {
  float: right;
}
.is-spaced {
  margin-top: 3rem;
}
</style>
