<template>
  <div>
    <Navbar />
    <Main />
    <Footer />
  </div>
</template>

<script>
import Navbar from '../components/Navbar.vue';
import Main from '../components/Main.vue';
import Footer from '../components/Footer.vue';

export default {
  components: {
    Navbar,
    Main,
    Footer,
  },
};
</script>
