<template>
  <div>
    <Navbar />
    <Pricing class="is-pushed-down" />
    <Footer />
  </div>
</template>

<script>
import Navbar from '../components/Navbar.vue';
import Pricing from '../components/Pricing.vue';
import Footer from '../components/Footer.vue';

export default {
  components: {
    Navbar,
    Pricing,
    Footer,
  },
};
</script>

<style scoped>
.is-pushed-down {
  padding-top: 2rem;
}
</style>
