<template>
  <div>
    <Navbar />
    <ComingSoon />
    <Footer />
  </div>
</template>

<script>
import Navbar from '../components/Navbar.vue';
import ComingSoon from '../components/ComingSoon.vue';
import Footer from '../components/Footer.vue';

export default {
  components: {
    Navbar,
    ComingSoon,
    Footer,
  },
};
</script>
